body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Georgia;
    text-transform: uppercase;
    text-align:center;
    font-size:1rem;
    font-weight: lighter;
}
h1 {
    font-size:1.8rem;
    margin:0;
}
h2 {
    font-size: .8rem;
    margin:0;
}
button {
    border:1px solid #000000;
    padding:.3rem;
    width: 90%;
    background-color:#1468a0;
    color:#FFFFFF;
    text-transform: uppercase;

}
.header {
    padding-bottom:.5rem;
    background-color:#1468a0;
    color:#FFFFFF;
    font-weight:bold;
}
.item {
    border:1px solid #1468a0;
    display:none;
}
.device {
    /*height: 20%;*/
    /*padding-top:10%;*/
    padding-top:10%;
    padding-bottom:10%;
    border: 1px solid #1468a0;
}
/*button {*/
    /*border: 1px solid #000000;*/
    /*width: 80%;*/
    /*height: 10vh;*/
/*}*/

/*input {*/
    /*border: 1px solid #000000;*/
    /*width: 80%;*/
    /*height: 10vh;*/
    /*font-size: 3em;*/
/*}*/

.grid-x>.small-6 {
    width: 50%;
    float: left;
}
